<h2 class="text-center">Sign up</h2>
<div class="row">
   
    <div class="col-md-12">
       <%= simple_form_for(resource, as: resource_name, :html => {class: "form-horizontal", role: "form"}, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
            <div class="col-md-offest-3 col-md-9">
               <%= f.association :role, as: :radio_buttons, id: "Choose_Role" %>
            </div>
        </div>
        <div class="field">
                 <%= f.input :email %>
        </div>

        <div class="field">
                 <%= f.input :password %>
        </div>

        <div class="field">
                 <%= f.input :password_confirmation %>
        </div>
         
        <div class="action">
                 <%= f.submit %>
        </div>
           
    
        <% end %>
        <div class="action">
                <%= render "devise/shared/links" %>
        </div>
    </div>
</div>

