<div class="row">
    <div class="col-md-12">
        <%= simple_form_for(@restaurant, :html => {class: "form-horizontal", role: "form"}) do |f| %>
        <% if @restaurant.errors.any? %>
           <div class="panel panel-danger col-md-offset-1">
               <div class="panel-heading">
                   <h2 class="panel-title">
                       <%= pluralize(@restaurant.errors.count, "error") %>
                       prohibited this restaurant from being saved:
                   </h2>
                   <div class="panel-body">
                       <ul>
                            <% @restaurant.errors.full_messages.each do |msg| %>
                                <li>
                                    <%= msg %>
                                </li>
                            <% end %>
                       </ul>
                   </div>
               </div>
           </div>
        <% end %>
        <div class="field"> 
                <%= f.association :region, as: :radio_buttons, id: "Choose_Region" %>
        </div>
        <div class="field"> 
                <%= f.input :title %>
        </div>
            
        <div class="field">
                <%= f.input :description %>
        </div>
        
        <div class="field">
                <%= f.submit  %>
        </div>
        <% end %>
    </div>
</div>